<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Querys</title>
</head>
<body>
  <h3>Consultas</h3>
  <ul>
    <% data.each_with_index do |q, index|%>
    <li>
      <a href="/example/<%= index.to_s %>"><%= q[:question] %></a>
    </li>
    <% end %>
  </ul>
</body>
</html>
