<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= question%></title>
  <style>
    table {
      border-collapse: collapse;
      width:100%;
    }

    table, td, th {
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <h2><%= title%></h2>
  <h4><%= question%></h4>
  <table>
    <% row= data.first%>
      <tr>
        <% row.each_key do |key|%>
        <td><%= key%></td>
        <% end %>
      </tr>
    <% data.each do |row|%>
    <tr>
      <% row.each do |key,val|%>
      <td><%= val%></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</body>
</html>
